[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "*"
alembic = "*"
sqlalchemy = "*"
fastapi = "*"
python-dotenv = "*"
structlog = "*"

[dev-packages]

[requires]
python_version = "3.10"
